<!DOCTYPE html>
<html>
  <head>
    {{ partial "favicon.html" . }}
    <title>{{ .Title }} :: {{ .Site.Title }}</title>

    {{ $assetBusting := not .Site.Params.disableAssetsBusting }}
    <link href="{{"css/font-awesome.min.css" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="stylesheet">
    <script src="{{"js/shireframe/shireframe-r.js"| relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" no-sketchy-filter></script>

    {{ if isset .Params "script" }}
    <script type="text/javascript">{{ .Params.script | safeJS }}</script>
    {{ end }}

  </head>

  <body>
    <browser-chrome>
      {{ .Content }}
    </browser-chrome>
  </body>

</html>

