.logo
  width: 33.33333%

section.wxt-search-block-form
  float: right

main.container
  font-size: 16px

.tip-type-text
  background: rgba(0,0,0,0.7)
  color: white

#block-useraccount
  float: right
  padding: 1px

.home
  nav.gcweb-menu
    border-top: 3px solid #38414d
    font-size: 20px
    margin-top: 5px
    button[aria-haspopup=true]:hover,
    button[aria-haspopup=true][aria-expanded=true]
      background-color: #444
      border-color: #444
      color: #fff
    button[aria-haspopup=true]
      background-color: #26374a
      border: 1px solid #26374a
      color: #fff
      margin-left: 0
      padding: .5em 1em
      text-transform: uppercase
