baseUrl: "http://{{ GROUP }}.gitlab.io/{{ PROJECT }}/"
languageCode: "en-US"
defaultContentLanguage: "en"

title: "My Project Docs Site"
theme: "learn"
metaDataFormat: "yaml"
defaultContentLanguageInSubdir: true

params:
  editURL: "https://gitlab.com/{{ GROUP }}/{{ PROJECT }}/tree/master/docs/content/"
  description: "Description of project docs site"
  author: "Consensus Enterprises"
  showVisitedLinks: true
  disableBreadcrumb: false
  disableNextPrev: false
  disableSearch: false
  disableAssetsBusting: false
  disableInlineCopyToClipBoard: false
  disableShortcutsTitle: false
  disableLanguageSwitchingButton: false
  ordersectionsby: "weight" # or "title"

menu:
  shortcuts:
    - name: "<i class='fa fa-gitlab'></i> Gitlab repo"
      url: "https://gitlab.com/{{ GROUP }}/{{ PROJECT }}"
      weight: 10
    - name: "<i class='fa fa-bullhorn'></i> Contributors"
      url: "https://gitlab.com/{{ GROUP }}/{{ PROJECT }}/graphs/master"
      weight: 30

# For search functionality
outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
